<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "index.html" %>

<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


<%= @greeting %>